@import "tailwindcss";

@source "../views/**/*.blade.php";

@theme {
    --font-sans: Syne;
    --shadow-*: initial;
    --color-*: initial;
    --color-orange: #fea079;
    --color-black: #000;
    --color-gray: --alpha(#000 / 70%);
    --color-white: #FFF;
    --color-green: #91ed91;
    --color-red: #ff7a5c;
    --color-blue: #88ceeb;
}

@custom-variant hidden (&[hidden]);

@utility card {
    border: solid 2px var(--color-black);
    border-radius: 14px;
    background-color: var(--color-white);
    box-shadow: 3px 3px 0px 1px var(--color-black);
    transition: .3s;
    @variant hover {
        box-shadow: 5px 5px 0px 1px var(--color-black);
        background-color: #efefef;
    }
}

@utility btn {
    border-radius: 4px;
    border: solid 2px currentColor;
    padding: 6px 8px;
    transition: .3s;

    @variant hover {
        background-color: --alpha(#FFF / 20%);
        transform: translate(-1px,-1px);
        box-shadow: 2px 2px 0px 1px var(--color-black);
    }
}

body {
    background: url(./wiggles.png);
    animation: body infinite 5s linear;
}

#spinner{
    opacity: 0;
    transform: translateY(-20px);
}
.htmx-request #spinner,
.htmx-request#spinner{
    transform: translateY(0px);
    opacity: 1;
}
